<div class="d-flex form-signin w-75 m-auto bg-body-tertiary justify-content-around align-items-center border rounded border-ligh mb-3 mt-1">
  <img alt="Chrome-icon" width="50" height="50" src="<%= image_path("chrome.png") %>">
  <img alt="Facebook-icon" width="50" height="50" src="<%= image_path("facebook.png") %>">
  <img alt="Twitter-icon" width="50" height="50" src="<%= image_path("twitter.png") %>">
</div>