<div class="modal fade" id="<%= photo.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fbtn text-dark" style="font-size: 20px" id="exampleModalLabel"><%= photo.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <%= image_tag(photo.image.url, class: "img-fluid rounded w-100 h-100") %>
      </div>
      <div class="modal-footer justify-content-start">
        <p class="fbtn text-dark" style="font-weight: 400; font-size: 14px"><%= photo.description %></p>
      </div>
    </div>
  </div>
</div>